@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Silkscreen&display=swap');

/* RESET */

*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html, body {
  height: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

#root, #__next {
  isolation: isolate;
}

/* END RESET */

body {
  background-color: #252525;
  color: #e8e8c6;
  /* font-family: 'IBM Plex Sans', sans-serif; */
  font-family: 'Silkscreen', sans-serif;
}

header h1 {
  /* color: #e8e8c6; */
  font-family: 'Silkscreen', sans-serif;
  text-align: center;
}

#game-container {
  border: 1px solid #e8e8c6;
  border-radius: 2rem;
  max-width: 30rem;
  padding: 2rem;
  margin: 0 auto;
}

/* FLOAT ANIMATION WHEN PLAYER IS ACTIVE */

@keyframes float {
	0% {
		transform: translatey(0px);
	}
	50% {
		transform: translatey(-5px);
	}
	100% {
		transform: translatey(0px);
	}
}

/* BLINK ANIMATION WHEN PLAYER IS ACTIVE  */

@keyframes blink {
  0% { opacity: 1; }
  50% { opacity: 0; }
  100% { opacity: 1; }
}

.highlight-player li.active .player-name {
  position: relative;
}

.highlight-player li.active .player-name::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 100%;
  background: currentColor;
  animation: blink 2s ease-in-out infinite;
}

#players {
  list-style: none;
  display: flex;
  padding-inline-start: 0;
  justify-content: space-between;
  flex-wrap: wrap;
}

#players li {
  display: flex;
  gap: 0.5rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  align-items: center;
}

/* PIXEL STYLE BUTTON */

#players button {
  font-size: 1.2em;
  font-family: 'Silkscreen', sans-serif;

  background: #252525;
  color: #e8e8c6;
  border: 0;
  position: relative;
  

}

#players button:hover {
  cursor: pointer;
	/* background-color: hsl(60, 42%, 74%); */
}

#players button:active {
  top: 5px;

}

#players button::after {
  content: '';
  background: #e8e8c6;
  position: absolute;
  left: -2.5%;
  top: 0;
  width: 105%;
  height: 100%;
  z-index: -1;
}

#players button::before {
  content: '';
  background: #e8e8c6;
  position: absolute;
  left: 0;
  top: -5%;
  width: 100%;
  height: 113%;
  z-index: -1;
}

/* END PIXEL STYLE BUTTON */

/* .player-name {
  margin-inline-end: 0.5rem;
} */

.player {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.player input {
  border: 1px solid #e8e8c6;
  background-color: #252525;
  color: #e8e8c6;
  padding: 0.5rem;
}

/* FIX THE INPUT WIDTH ON SMALLER SCREENS */

@media screen and (max-width: 450px) {
  #players {
    justify-content: center;
  }

  .player input {
    max-width: 180px;
  }
}

@media screen and (max-width: 300px) {
  .player input {
    max-width: 100px;
  }
}

/* END FIX THE INPUT WIDTH ON SMALLER SCREENS */